target

pom.xml.releaseBackup
pom.xml.versionsBackup

#Eclipse
.project
.classpath
.settings

#IDEA
.idea/
*.iml
.DS_Store
docker-compose/volumes/mysql/data
docker-compose/volumes/redis/data

.flattened-pom.xml
